# Ignore build artifacts
artifacts/
build/
cache/
out/
node_modules/

# Ignore temporary files
*.sol.json
*.metadata.json
*.dbg.json

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore editor files
.vscode/
.idea/

# Ignore compiled contracts from tools
foundry-out/
hardhat-cache/
typechain/
coverage/

# Ignore priitier file
.prettierrc.json

state.json

#Ignore Private Folder
Private/

# Ignore npm files
.deps/







# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
